#about {
  position: relative;
  margin: 5rem 20rem 0 20rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid var(--grey-3);
  .about-me {
    padding: 2.5rem;
    padding-top: 5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    .about-list {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      ul {
        transform: translateX(2.5vw);
        p {
          display: list-item;
          list-style: disc;
          margin-bottom: 0.5rem;
        }
        span {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
