#contact {
  margin: 5rem 20rem 0 20rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid var(--grey-3);
  position: relative;
  .contact-container {
    display: flex;
    padding: 3rem;
    padding-top: 5rem;
    margin-top: 2.5rem;
    gap: 2rem;
    .contact-header {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      text-align: left;
      img {
        padding: 1rem;
        width: 100%;
      }
    }
  }
  form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    .name-inputs {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      input {
        width: 12.5vw;
      }
    }
    label {
      text-align: left;
      width: 100%;
      font-size: 1rem;
      margin-left: 0.5rem;
      margin-bottom: 0.5rem;
      color: var(--grey-1);
    }
    input,
    textarea {
      border-radius: 50px;
      border: 1px solid var(--grey-3);
      background: var(--grey-4);
      padding: 0.5rem 1rem;
      width: 100%;
      font-size: 0.8rem;
      margin-bottom: 1rem;
      &:focus {
        border: 1px solid var(--grey-2);
        outline: none;
      }
    }
    textarea {
      height: 15vw;
      border-radius: 15px;
    }
    .submit-btn {
      background: var(--green-1);
      padding: 0.5rem;
      color: var(--light);
      font-weight: bold;
      border-radius: 15px;
      font-size: 1vw;
      width: 100%;
      align-self: end;
      &:hover {
        background: var(--green-1-hover);
        transform: translateY(-5px);
      }
    }
  }
}
