#contact {
    background: var(--grey-light);
    padding: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    .title {
        display: flex;
        align-items: center;
        flex-direction: column;
        .section-header {
            span {
                color: var(--purple-1);
            }
        }
        .section-description {
            max-width: 40vw;
        }
    }
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 900px;
        margin-top: 2.5rem;
        label {
            text-align: left;
            width: 100%;
            font-size: 1rem;
            margin-left: 0.5rem;
            margin-bottom: 0.5rem;
            color: var(--grey-1);
        }
        input, textarea {
            border-radius: 50px;
            border: 1px solid  var(--grey-3);
            background: var(--grey-4);
            padding: 0.5rem 1rem;
            width: 900px;
            font-size: 0.8rem;
            margin-bottom: 1rem;
            &:focus {
                border: 2px solid var(--purple-1);
                outline: none;
            }
        }
        textarea {
            height: 250px;
            border-radius: 15px;
        }
        .submit-btn {
            background: var(--purple-1);
            padding: 1rem;
            color: var(--light);
            font-weight: bold;
            border-radius: 15px;
            font-size: 1vw;
            width: 25%;
            align-self: end;
            &:hover {
                background: var(--purple-1-hover);
                transform: translateY(-5px);
            }
        }
    }
}