#footer {
    background: var(--dark);
    padding: 2rem;
    .social-media {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 1rem;
        a {
            transition: all 0.2s ease;
            &:hover {
                background: var(--purple-1);
                transform: translateY(-10px);
            }
            background: var(--grey-2);
            width: 3.5vw;
            height: 3.5vw;
            color: var(--light);
            display: flex;
            align-items: center;
            justify-content: center;
            .icons {
                width: 50%;
                height: 50%;
                transition: all 0.1s ease-in-out;
            }
        }
    }
    p {
        color: var(--grey-1);
        span {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}