#footer {
    background: var(--dark);
    padding: 2rem;
    .social-media {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 1rem;
        a {
            transition: all 0.2s ease;
            &:hover {
                transform: translateY(-10px);
                .icons {
                    animation: iconSpin;
                    animation-duration: 1s;
                    
                }
            }
            &:first-child {
                &:hover {
                    background: var(--blue-1);
                }
            }
            &:nth-child(2) {
                &:hover {
                    background: var(--purple-1);
                }
            }
            &:last-child {
                &:hover {
                    background: var(--green-1);
                }
            }
            background: var(--grey-2);
            width: 3.5vw;
            height: 3.5vw;
            color: var(--light);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .icons {
                width: 50%;
                height: 50%;
                transition: all 0.1s ease-in-out;
            }
        }
    }
    p {
        color: var(--grey-1);
        span {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@keyframes iconSpin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    60% {
        transform: translateY(-5px);
    }
    80% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}