#hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 1px solid var(--grey-3);
  margin: 0 20rem;
  .hero-container {
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1rem;
    padding-top: 4vw;
    margin: 5rem 20rem 0 20rem;
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 1;
      color: var(--dark);
      margin-top: 1rem;
      gap: 1.5rem;
      img {
        width: 10vw;
        height: 10vw;
        border: 2px solid var(--grey-3);
        border-radius: 50%;
      }
      a {
        button {
          padding: 1rem;
        }
      }
      h1 {
        font-size: 2vw;
        animation: expandSize 1s;
        color: var(--dark);
      }
      p {
        width: 70%;
      }
      button {
        animation: expandSize 1s;
      }
    }
  }
  .scroll-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    div {
      margin-top: 1rem;
      width: 25px;
      height: 35px;
      border-radius: 50px;
      border: 3px solid var(--grey-1);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      div {
        margin-top: 0.5rem;
        width: 8px;
        height: 8px;
        background: var(--grey-1);
        animation: mouse 2s infinite;
      }
    }
  }
}

@keyframes mouse {
  80% {
    transform: translateY(0.5vw);
  }
}

@keyframes cube-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
