#hero {
    background: var(--dark);
    width: 100%;
    height: 100vh;   
    position: relative;
    overflow: hidden;
    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        background: #151515;
        width: 50%;
        height: 100%;
    }
    .social-media {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;
        padding: 2.5rem;
        a {
            z-index: 999;
            transition: all 0.2s ease;
            &:hover {
                transform: translateY(-10px);
                .icons {
                    animation: iconSpin;
                    animation-duration: 1s;
                    
                }
            }
            &::before {
                position: absolute;
                content: "";
                object-fit: center;
                transform: translateY(2.5vw);
                width: 3vw;
                height: 0.3vw;
            }
            animation-name: dropdown;
            &:first-child {
                &::before {
                    background: var(--blue-1);
                }
                &:hover {
                    background: var(--blue-1);
                }
                animation-duration: 1.2s;

            }
            &:nth-child(2) {
                &::before {
                    background: var(--purple-1);
                }
                &:hover {
                    background: var(--purple-1);
                }
                animation-duration: 1.4s;
            }
            &:last-child {
                &::before {
                    background: var(--green-1);
                }
                &:hover {
                    background: var(--green-1);
                }
                animation-duration: 1.6s;
            }
            background: var(--grey-2);
            width: 3.5vw;
            height: 3.5vw;
            color: var(--light);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .icons {
                width: 50%;
                height: 50%;
                transition: all 0.1s ease-in-out;
            }
        }
        
    }
    .header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        color: var(--light);
        a {
            button {
                padding: 1rem;
                margin-top: 2rem;
            }
        }
        h1 {
            font-size: 5rem;
            animation: expandSize 1s;
            font-family: OdorMeanChey;
            font-weight: normal;
        }
        h3 {
            animation: expandSize 1s;
            font-weight: normal;
            span {
                &:first-child {
                    color: var(--blue-1);
                }
                &:last-child {
                    color: var(--green-1);
                }
            }
        }
        button {
            animation: expandSize 1s;
        }
    }
    .lottie-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.25;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(0.9);
        .lottie {
            animation-name: expandSize;
            animation-duration: 1s;
            width: 50vw;
        }
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes iconSpin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    60% {
        transform: translateY(-5px);
    }
    80% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes expandSize {
    0% {
        transform: scale(0.1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}