@media (max-width: 1025px) {
  * {
    line-height: 4rem;
  }
  h1 {
    font-size: 5rem;
  }
  p,
  button {
    font-size: 3rem;
  }
  h2 {
    font-size: 4.5rem !important;
  }
  h3 {
    font-size: 4rem;
  }
  button {
    padding: 4rem !important;
  }
  .website-styling {
    &::before {
      top: 6.25vw;
    }
  }
  .tab-btns {
    top: 2.5vw;
    left: 2.5vw;
    div {
      width: 1.5vw !important;
      height: 1.5vw !important;
    }
  }
  .tab-bar {
    top: 0.75vw;
  }
  nav {
    padding: 3rem 5rem !important;
    h1 {
      font-size: 2.5rem !important;
    }
    .nav-menu-container {
      gap: 1rem !important;
    }
    a {
      font-size: 1.5rem !important;
    }
  }
  #hero {
    margin: 0 10rem !important;
    .hero-container {
      padding: 5rem !important;
      padding-top: 10rem !important;
      margin: 5rem 5rem 0 5rem;
      .header {
        gap: 4rem !important;
        h1 {
          font-size: 6vw !important;
          line-height: 8vw !important;
        }
        p {
          width: 90% !important;
        }
      }
    }
  }

  #about {
    margin: 5rem 10rem 0 10rem !important;
    .about-me {
      padding: 3rem !important;
      padding-top: 9rem !important;
      gap: 3rem !important;
    }
    .about-list {
      ul {
        transform: translateX(5vw) !important;
      }
    }
  }

  #skills {
    margin: 5rem 10rem 0 10rem !important;
    .skills-header {
      .btn-container {
        .tab-btns {
          top: 2vw !important;
        }
        &::before {
          top: 5vw !important;
        }
        button {
          height: 15vw !important;
          font-size: 3rem !important;
        }
      }
    }
    .skills-item-container {
      padding: 5rem !important;
      padding-top: 8rem !important;
      &::before {
        top: 6vw !important;
      }
      .skills-item {
        margin-top: 3rem !important;
        img {
          width: 7vw !important ;
          height: 7vw !important;
        }
        h4 {
          font-size: 2rem !important;
        }
      }
    }
  }
  .close-btn {
    width: 100px !important;
    height: 100px !important;
    font-size: 5rem !important;
  }

  #project {
    margin: 5rem 5rem !important;
    .project-collage {
      .project-collage-container {
        width: 90% !important;
      }
    }
    .project-container {
      .project-items {
        width: 100% !important;
        height: 100% !important;
        padding: 3rem !important;
        padding-top: 8rem !important;
        &::before {
          top: 6vw !important;
        }
        .project-img-container {
          .project-img {
            width: 85vw !important;
            height: 50vw !important;
            margin-bottom: 2rem;
          }
        }
        .project-content {
          gap: 3rem !important;
          .tech {
            gap: 2rem !important;
            img {
              width: 5vw !important;
              height: 5vw !important;
            }
          }
          .btn-container {
            gap: 2rem !important;
          }
        }
      }
    }
  }

  #contact {
    margin: 5rem 10rem 0 10rem !important;
    .contact-container {
      padding: 5rem !important;
      padding-top: 10rem !important;
      display: grid !important;
      grid-template-columns: 1fr 1fr;
      p {
        font-size: 2.5rem !important;
      }
      img {
        width: 90% !important;
      }
    }
    form {
      justify-content: space-between !important;
      input,
      textarea,
      .submit-btn {
        width: 30vw !important;
        border-radius: 5px !important;
        font-size: 2rem !important;
      }
      textarea {
        height: 50% !important;
        border-radius: 5px !important;
      }
      .submit-btn {
        transform: translateX(-6%) !important;
      }
    }
    h4 {
      font-size: 1.5rem !important;
    }
  }

  #footer {
    padding: 4rem !important;
    gap: 2rem !important;
    .social-media {
      a {
        width: 7vw !important;
        height: 7vw !important;
      }
    }
  }
}
