nav {
    z-index: 999;
    position: absolute;
    width: 100%;
    font-family: 'Open Sans Condensed';
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem 2.5rem;
    .nav-menu {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem;
        border-radius: 50px;
        .nav-menu-container {
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            .active{
                position: relative;
                &::before {
                    opacity: 1;
                    position: absolute;
                    transform: translateY(30px);
                    content: '';
                    width: 100%;
                    height: 3px;
                    background: var(--light);   
                }
            }
            
            a {
                animation-name: dropdown;
                &:nth-child(1) {
                    animation-duration: 0.2s;
                }
                &:nth-child(2) {
                    animation-duration: 0.4s;
                }
                &:nth-child(3) {
                    animation-duration: 0.6s;
                }
                &:nth-child(4) {
                    animation-duration: 0.8s;
                }
                position: relative;
                color: var(--light);
                text-decoration: none;
                font-weight: bold;
                &::before {
                    opacity: 0;
                    position: absolute;
                    transform: translateY(30px);
                    content: '';
                    transition: all 0.1s ease-in-out;
                    width: 100%;
                    height: 3px;
                }
                &:hover {
                    &::before {
                        transition: all 0.1s ease-in-out;
                        opacity: 1;
                        position: absolute;
                        transform: translateY(30px);
                        content: '';
                        width: 100%;
                        height: 3px;
                        background: var(--blue-1);   
                    }
                }
            }
        }
    }
}