#project {
  margin: 5rem 15rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid var(--grey-3);
  position: relative;
}
#project .tab-bar {
  position: absolute;
  top: 0.5vw;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#project .tab-bar p {
  border: 1px solid var(--grey-3);
  padding: 0.25rem 1rem;
  border-radius: 5px;
}
#project .project-collage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
#project .project-collage .project-collage-container {
  width: 50%;
}
#project .project-collage .slick-slide {
  transition: all 0.2s ease-in-out;
  opacity: 1;
  cursor: pointer;
}
#project .project-slider-container .slick-dots li.slick-active button:before {
  color: var(--purple-1);
}
#project .project-slider-container .slick-slide {
  position: relative;
  transition: all 0.2s ease-in-out;
  transform: scale(0.7);
  opacity: 0.5;
  cursor: pointer;
}
#project .project-slider-container .slick-slide.slick-center {
  transform: scale(0.9);
  z-index: 999;
  opacity: 1;
  cursor: default;
}
#project .project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
#project .project-container .project-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--grey-3);
  background: var(--light);
  border-radius: 15px;
  overflow: hidden;
  padding: 1.5rem;
  padding-top: 4rem;
  gap: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  width: 30vw;
  height: 42.5vw;
}
#project .project-container .project-items::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 3vw;
  left: 0;
  background: var(--grey-3);
}
#project .project-container .project-items .project-img-container {
  position: relative;
}
#project .project-container .project-items .project-img-container .img-text {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s ease;
}
#project .project-container .project-items .project-img-container .img-text h3 {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 2px solid var(--light);
  padding: 1rem;
  border-radius: 5px;
}
#project .project-container .project-items .project-img-container .img-text:hover {
  opacity: 1;
}
#project .project-container .project-items .project-img-container .project-img {
  width: 27vw;
  height: 15vw;
  border-radius: 15px;
  border: 1px solid var(--grey-3);
}
#project .project-container .project-items .project-img-container .project-img:hover {
  filter: brightness(95%) grayscale(20%);
  cursor: pointer;
}
#project .project-container .project-items .project-content {
  text-align: left;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#project .project-container .project-items .project-content h2 {
  color: var(--grey-2);
}
#project .project-container .project-items .project-content h3 {
  color: var(--purple-1);
}
#project .project-container .project-items .project-content .tech {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
#project .project-container .project-items .project-content .tech img {
  width: 2vw;
  height: 2vw;
}
#project .project-container .project-items .project-content .btn-container {
  display: flex;
  gap: 1rem;
  width: 60%;
}
#project .project-container .project-items .project-content .btn-container a {
  text-decoration: none;
}
#project .project-container .project-items .project-content .btn-container button {
  padding: 1rem;
  background: none;
  color: var(--light);
  border: 1px solid var(--grey-1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: var(--purple-1);
}/*# sourceMappingURL=project.css.map */