#skills {
  margin: 5rem 20rem 0 20rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid var(--grey-3);
  position: relative;
}
#skills .skills-container .skills .skills-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}
#skills .skills-container .skills .skills-header .btn-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid var(--grey-3);
  border-radius: 15px;
  transition: all 0.2s ease;
  margin-bottom: 1rem;
  background: var(--light);
  padding-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
#skills .skills-container .skills .skills-header .btn-container:hover {
  transform: translateY(-10px);
}
#skills .skills-container .skills .skills-header .btn-container::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 3vw;
  left: 0;
  background: var(--grey-3);
}
#skills .skills-container .skills .skills-header .btn-container button {
  background: none;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  text-decoration: underline;
  margin: 0;
  height: 12.5vw;
  width: 100%;
  color: var(--dark);
}
#skills .skills-container .skills .skills-header .btn-container button:hover {
  transform: none;
}
#skills .skills-container .skills h3 {
  margin-bottom: 1rem;
}
#skills .skills-container .skills .skills-item-container {
  background: var(--light);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3rem;
  border: 1px solid var(--grey-3);
  padding: 3rem;
  padding-top: 6rem;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
#skills .skills-container .skills .skills-item-container::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 3vw;
  left: 0;
  background: var(--grey-3);
}
#skills .skills-container .skills .skills-item-container .skills-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  animation: fade-in 0.2s ease-out forwards;
  opacity: 0;
}
#skills .skills-container .skills .skills-item-container .skills-item:nth-child(1) {
  animation-delay: 0.1s;
}
#skills .skills-container .skills .skills-item-container .skills-item:nth-child(2) {
  animation-delay: 0.2s;
}
#skills .skills-container .skills .skills-item-container .skills-item:nth-child(3) {
  animation-delay: 0.3s;
}
#skills .skills-container .skills .skills-item-container .skills-item:nth-child(4) {
  animation-delay: 0.4s;
}
#skills .skills-container .skills .skills-item-container .skills-item:nth-child(5) {
  animation-delay: 0.5s;
}
#skills .skills-container .skills .skills-item-container .skills-item:nth-child(6) {
  animation-delay: 0.6s;
}
#skills .skills-container .skills .skills-item-container .skills-item:nth-child(7) {
  animation-delay: 0.7s;
}
#skills .skills-container .skills .skills-item-container .skills-item:nth-child(8) {
  animation-delay: 0.8s;
}
#skills .skills-container .skills .skills-item-container .skills-item:nth-child(9) {
  animation-delay: 0.9s;
}
#skills .skills-container .skills .skills-item-container .skills-item:nth-child(10) {
  animation-delay: 1s;
}
#skills .skills-container .skills .skills-item-container .skills-item img {
  width: 4vw;
  height: 4vw;
}/*# sourceMappingURL=skills.css.map */