#skills {
    background: var(--dark);
    padding: 3rem 10rem;
    .section-header {
        color: var(--light);
        span {
            color: var(--blue-1);
        }
    }
    .title {
        display: flex;
        align-items: center;
        flex-direction: column;
        &::before {
            transform: translateY(120px);
        }
    }
    .skills-container {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        gap: 3rem;
        .skills-box {
            width: 25vw;
            border-radius: 1rem;
            padding: 2rem 1rem;
            background: var(--grey-2);
            border: 1px solid #222222;
            height: 15vw;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            &:first-child {
                transition-delay: 0ms;
            }
            &:nth-child(2) {
                transition-delay: 200ms;
            }
            &:last-child {
                transition-delay: 400ms;
            }
            .skills-items {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space;
                flex-wrap: wrap;
                gap: 1rem;
                margin-top: 0.5rem;
                width: 100%;
                cursor: default;
            }
            h2 {
                text-align: left;
                width: 100%;
                color: var(--light);
                font-weight: normal;
                position: relative;
                font-size: 1.5rem;
                &::before {
                    position: absolute;
                    content: "";
                    top: 120%;
                    left: 0;
                    width: 3vw;
                    height: 0.3vw;
                }
                margin-bottom: 2rem;
            } 
            p {
                background: var(--dark);
                padding: 0.5rem 1rem;
                border-radius: 5px;
                transition: all 0.2s ease;
                &:hover {
                    background: #252525;
                }
            }
            .icon-container {
                position: absolute;
                top: 10%;
                left: 25%;
                color: #272727;
                .icon {
                    width: 12vw;
                    height: 12vw;
                }
            }
            &:first-child {
                h2 {
                    &::before {
                        background: var(--blue-1);
                    }
                }
                p {
                    &:hover {
                        color: var(--blue-1);
                    }
                }
            }
            &:nth-child(2) {
                h2 {
                    &::before {
                        background: var(--purple-1);
                    }
                }
                p {
                    &:hover {
                        color: var(--purple-1);
                    }
                }
            }
            &:last-child {
                h2 {
                    &::before {
                        background: var(--green-1);
                    }
                }
                p {
                    &:hover {
                        color: var(--green-1);
                    }
                }
            }
        }
        
    }
}